# Project Prototype

In [1]:


import pandas as pd
Mortality = pd.read_csv("Mortality Both Sexes.csv")
MortalityF = pd.read_csv("Mortality Female.csv")
MortalityM = pd.read_csv("Mortality Male.csv")
Alcohol = pd.read_csv("WHOAlcoholTotalPerCapita_2021-09-20v2.csv")

print(Mortality)
print(Alcohol)

      Unnamed: 0   ParentLocation    Location  Period         Sex  \
0              0         Americas    Barbados    2016  Both sexes
1              1           Europe      Serbia    2016  Both sexes
2              2           Europe      Turkey    2016  Both sexes
3              3           Europe    Slovakia    2016  Both sexes
4              4  Western Pacific       Samoa    2016  Both sexes
...          ...              ...         ...     ...         ...
3106        3106           Europe     Germany    2000  Both sexes
3107        3107           Europe      France    2000  Both sexes
3108        3108           Europe     Belgium    2000  Both sexes
3109        3109           Europe     Denmark    2000  Both sexes
3110        3110         Americas  Costa Rica    2000  Both sexes

      Adult mortality rate              DateModified
0                   100.40  2018-05-06T18:30:00.000Z
1                   102.50  2018-05-06T18:30:00.000Z
2                   104.00  2018-05-06T18:30:00.000Z
3                   104.10  2018-05-06T18:30:00.000Z
4                   110.40  2018-05-06T18:30:00.000Z
...                    ...                       ...
3106                 95.18  2018-05-06T18:30:00.000Z
3107                 99.17  2018-05-06T18:30:00.000Z
3108                 99.35  2018-05-06T18:30:00.000Z
3109                 99.82  2018-05-06T18:30:00.000Z
3110                 99.88  2018-05-06T18:30:00.000Z

[3111 rows x 7 columns]
      WHO Region Code             WHO Region Country Code       Country  Year  \
0                SEAR        South-East Asia          BGD    Bangladesh  2019
1                SEAR        South-East Asia          BGD    Bangladesh  2019
2                SEAR        South-East Asia          BGD    Bangladesh  2019
3                 EMR  Eastern Mediterranean          KWT        Kuwait  2019
4                 EMR  Eastern Mediterranean          KWT        Kuwait  2019
...               ...                    ...          ...           ...   ...
11233             AFR                 Africa          SLE  Sierra Leone  2000
11234             AFR                 Africa          ZAF  South Africa  2000
11235             WPR        Western Pacific          NRU         Nauru  2000
11236             AMR               Americas          PRY      Paraguay  2000
11237             AMR               Americas          PER          Peru  2000

              Sex  \
0      Both sexes
1          Female
2            Male
3      Both sexes
4          Female
...           ...
11233        Male
11234  Both sexes
11235        Male
11236        Male
11237        Male

       Alcohol total per capita (15+) consumption in liters (numeric)  \
0                                                   0.00
1                                                   0.00
2                                                   0.00
3                                                   0.00
4                                                   0.00
...                                                  ...
11233                                               9.54
11234                                               9.56
11235                                               9.66
11236                                               9.82
11237                                               9.99

       Alcohol total per capita (15+) consumption in liters (low estimation)  \
0                                                   0.00
1                                                   0.00
2                                                   0.00
3                                                   0.00
4                                                   0.00
...                                                  ...
11233                                               7.30
11234                                               8.02
11235                                               7.60
11236                                               8.05
11237                                               7.94

       Alcohol total per capita (15+) consumption in liters (high estimation)  \
0                                                   0.00
1                                                   0.00
2                                                   0.00
3                                                   0.00
4                                                   0.00
...                                                  ...
11233                                              11.54
11234                                              11.07
11235                                              12.02
11236                                              11.55
11237                                              12.34

      Alcohol total per capita (15+) consumption in liters (string)
0                                              0 [0 – 0]
1                                              0 [0 – 0]
2                                              0 [0 – 0]
3                                              0 [0 – 0]
4                                              0 [0 – 0]
...                                                  ...
11233                                 9.54 [7.3 – 11.54]
11234                                9.56 [8.02 – 11.07]
11235                                 9.66 [7.6 – 12.02]
11236                                9.82 [8.05 – 11.55]
11237                                9.99 [7.94 – 12.34]

[11238 rows x 10 columns]

In [26]:
accidents = pd.read_csv("accidents.csv")

In [27]:
accidents.head()

,Unnamed: 0,Unnamed: 1,Estimated number of road traffic deaths,Estimated number of road traffic deaths.1,Estimated number of road traffic deaths.2,Estimated road traffic death rate (per 100 000 population),Estimated road traffic death rate (per 100 000 population).1,Estimated road traffic death rate (per 100 000 population).2
0,Country,Year,Both sexes,Male,Female,Both sexes,Male,Female
1,Afghanistan,2019,6033 [5227-6846],4853 [4204-5507],1180 [1023-1339],15.9 [13.7-18.0],24.8 [21.5-28.2],6.4 [5.5-7.2]
2,Afghanistan,2018,5295 [4578-6017],4339 [3751-4930],957 [827-1087],14.2 [12.3-16.2],22.7 [19.6-25.8],5.3 [4.6-6.0]
3,Afghanistan,2017,5490 [4737-6246],4433 [3825-5043],1057 [912-1203],15.1 [13.1-17.2],23.8 [20.5-27.0],6.0 [5.2-6.8]
4,Afghanistan,2016,5240 [4512-5970],4239 [3650-4829],1001 [862-1141],14.8 [12.8-16.9],23.3 [20.1-26.6],5.8 [5.0-6.6]

In [28]:
accidents.rename(columns = {"Unnamed: 0":"Country", "Unnamed: 1":"Year", 
                            "Estimated number of road traffic deaths":"All road deaths", 
                           "Estimated number of road traffic deaths.1":"Male road deaths",
                           "Estimated number of road traffic deaths.2":"Female road deaths",
                           "Estimated road traffic death rate (per 100 000 population)":"Total road death rate",
                           "Estimated road traffic death rate (per 100 000 population).1":"Male road death rate",
                           "Estimated road traffic death rate (per 100 000 population).2":"Female road death rate"}, inplace=True)
accidents = accidents.iloc[1:,:]

In [29]:
accidents["All road deaths"] = [num.split(" ")[0] for num in accidents["All road deaths"]]
accidents["Male road deaths"] = [num.split(" ")[0] for num in accidents["Male road deaths"]]
accidents["Female road deaths"] = [num.split(" ")[0] for num in accidents["Female road deaths"]]
accidents["Total road death rate"] = [num.split(" ")[0] for num in accidents["Total road death rate"]]
accidents["Male road death rate"] = [num.split(" ")[0] for num in accidents["Male road death rate"]]
accidents["Female road death rate"] = [num.split(" ")[0] for num in accidents["Female road death rate"]]

In [30]:
accidents["All road deaths"]= accidents["All road deaths"].astype(int)
accidents["Male road deaths"] = accidents["Male road deaths"].astype(int)
accidents["Female road deaths"] = accidents["Female road deaths"].astype(int)
accidents["Total road death rate"] = accidents["Total road death rate"].astype(float)
accidents["Male road death rate"] = accidents["Male road death rate"].astype(float)
accidents["Female road death rate"] = accidents["Female road death rate"].astype(float)

In [31]:
accidents.head()

,Country,Year,All road deaths,Male road deaths,Female road deaths,Total road death rate,Male road death rate,Female road death rate
1,Afghanistan,2019,6033,4853,1180,15.9,24.8,6.4
2,Afghanistan,2018,5295,4339,957,14.2,22.7,5.3
3,Afghanistan,2017,5490,4433,1057,15.1,23.8,6.0
4,Afghanistan,2016,5240,4239,1001,14.8,23.3,5.8
5,Afghanistan,2015,4942,3981,961,14.4,22.5,5.7

### Question 1

                                     Unnamed: 0  Period  Adult mortality rate
Location
Afghanistan                         1566.411765  2008.0            266.335294
Albania                             1496.882353  2008.0            101.574706
Algeria                             1516.235294  2008.0            113.668824
Angola                              1575.235294  2008.0            297.294118
Antigua and Barbuda                 1495.117647  2008.0            140.858824
...                                         ...     ...                   ...
Venezuela (Bolivarian Republic of)  1517.647059  2008.0            166.700000
Viet Nam                            1488.882353  2008.0            133.300000
Yemen                               1556.235294  2008.0            239.388235
Zambia                              1597.705882  2008.0            446.694118
Zimbabwe                            1606.529412  2008.0            549.347059

[183 rows x 3 columns]

### Question 2

In [ ]:
byLocation = Mortality.groupby('Location').mean()
print(byLocation)

### Question 3

### Question 4